@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,500&family=Spartan:wght@400&display=swap");
body {
  background-color: rgba(0, 0, 0, 0.932);
  color: white;
}
.left-arrow {
  color: rgb(250, 239, 221);
  transform: scale(2);
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 50%;
  left: 1%;
}
.right-arrow {
  color: rgb(250, 239, 221);
  transform: scale(2);
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 50%;
  right: 1%;
}
