.mic {
  height: 24px;
  width: 24px;
  border: 2px solid white;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 10px;
  transform: scale(1.2);
}
.mic:hover {
  color: gold;
  border: 2px solid gold;
}
