.scrollbtn-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  height: 50px;
  width: 50px;
}
.scrollbtn-icon {
  cursor: pointer;
  transform: scale(2);
  border-radius: 100%;
  margin-top: 25%;
  margin-left: 25%;
}
.scrollbtn-icon:hover {
  color: black;
  background-color: white;
}
.scroll-btn-scale-in-center {
  -webkit-animation: scroll-btn-scale-in-center 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scroll-btn-scale-in-center 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scroll-btn-scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 1;
  }
}
@keyframes scroll-btn-scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 1;
  }
}
