
.form{
    margin-top: 20px;
  display: flex;
}
.form__label{
   
   color: white;
   margin: 2px;  
}
.form__input{
   margin-left: 7px;
   height: 70%;
}
.form__submitbtn{
border: 2px white solid;
  height: 100%;
  cursor:pointer;
}
